<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="QuipuAutomationSuite" verbose="1">
    <test name="LoginTests">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test name="SearchTests">
        <classes>
            <class name="SearchTest"/>
        </classes>
    </test>
    <test name="AddToCartTests">
        <classes>
            <class name="AddToCartTest"/>
        </classes>
    </test>
</suite>
